<%= link_to category_expense_path(category), class: "w-100", style: 'text-decoration: none; font-family: \'Proxima Nova\', sans-serif; color: #828282; ' do %>
  <div id="<%= @category %>" class="card d-flex flex-column justify-content-between align-items-center">
    <div class="w-100 gap-4 d-flex align-items-center justify-content-space-between p-2">
      <div style="width: 200px; height: 200px; overflow: hidden;">
        <%= image_tag category.icon, class: 'img-fluid' %>
      </div>
      <div class="flex-grow-1 text-center">
        <h5 class="card-title text-start"><%= category.name %></h5>
      </div>
      <div class="flex-grow-0 font-weight-bold">
        <p class="card-text" style="color: blacl"><strong>$<%= category.total_expenses %></strong></p>
      </div>
    </div>
      <% if action_name != "show" %>
        <div class="d-flex gap-2 align-self-start pb-2 bg-primary">
          <%= button_to category_path(category), method: :delete, class: "btn btn-outline-light btn-sm", 'data-turbolinks': false, data: { confirm: 'Are you sure?' } do %>
            Delete
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<%end%>

